<h1>Hello {{user.name}}</h1>

<div id="userName">
    <p>{{user.name}}</p>
    <p>{{user.lastname}}</p>
    <p>{{user.email}}</p>

</div>
<form method="POST" action="/my-account/{{user._id}}" class="form">
    <label for="address">Address</label>
    <input name="address" id="address" class="input" type="text">
    <button>Submit</button>

    <label for="category">category</label>
    <select name="category" id="category" class="input">
        <option value="yoga">yoga</option>
        <option value="meditation">meditation</option>

    </select>

</form>