<h1>Hello {{user.name}}</h1>
<div class="account-info">
    <div class="row" id="userName">
        <p>Name:</p>
        <input id="name" type="text" name="name" value="{{user.name}}">
        <label class="btn-edit" for="name"><i class="fas fa-pen"></i></label>
    </div>
    <div class="row" id="userLastname">
        <p>Last name:</p>
        <input id="lastname" type="text" name="lastname" value="{{user.lastname}}">
        <label class="btn-edit" for="lastname"><i class="fas fa-pen"></i></label>
    </div>
    <div class="row" id="userEmail">
        <p>Email:</p>
        <input id="email" type="text" name="email" value="{{user.email}}">
        <label class="btn-edit" for="email"><i class="fas fa-pen"></i></label>
    </div>
    <div class="row" id="user-mainAddress">
        <p>Main Address:</p>
        <input id="mainAddress" type="text" name="mainAddress" value="{{user.mainAddress}}">
        <label class="btn-edit" for="mainAddress"> <i class="fas fa-pen"></i></label>
    </div>
    <div class="row" id="user-otherAddress">
        <p>Other Address:</p>
        <input id="otherAddress" type="text" name="otherAddress" value="{{user.otherAddress}}">
        <label class="btn-edit" for="otherAddress"> <i class="fas fa-pen"></i></label>
    </div>
    <div id="userCategory">
        <label for="category">Category: {{user.category}}</label>

        <select name="category" id="category" class="input">
            <option value="yoga">yoga</option>
            <option value="meditation">meditation</option>
        </select>

    </div>
    <div>
        <button data-id="{{user._id}}" id="submitBtn">OK</button>
        {{!-- <a href="/edit-account/{{user._id}}">OK</a> --}}
    </div>
</div>
{{!-- <form method="POST" action="/my-account/{{user._id}}" class="form">
    <label for="address">Address</label>
    <input name="address" id="address" class="input" type="text">
    <button>Submit</button>

    <label for="category">category</label>
    <select name="category" id="category" class="input">
        <option value="yoga">yoga</option>
        <option value="meditation">meditation</option>
</form> --}}