<div class="studio-wrapper">
  <div class="studio-container">
    <div class="studio-info">
      <div id="studio-info-header">
      </div>
      <i class="fas fa-heart"></i>

      <div class="studio-image">

        <div class="studio-img-container">
          <img src={{studio.picture.[0]}} alt="studio-img-defaut" class="studio-img">
        </div>
      </div>

      {{#if isLoggedIn}}
      <form method="post" action="/edit-studio/{{studio._id}}" class="add-info-form" enctype="multipart/form-data">
        <div class="flexed-item">
          <label class="model-edit" for="picture"><span class="fas fa-plus">Add a picture</span></label>
          <input id="picture" type="file" name="picture" value="">
        </div>
        <p class="info_link">{{studio.link}}</p>
        <div class="flexed-item">
          <label class="model-edit" for="link"><span class="fas fa-plus">Add a link</span></label>
          <input id="link" type="text" name="link" value="">
        </div>
        <button class="btn-submit">Add</button>
      </form>
      {{/if}}

      {{#if isLoggedIn}}
      <form method="post" action="/add-review/{{studio._id}}" class="add-review">
        <div class="flexed-item">
          <label class="model-edit" for="comment"><span class="fas fa-plus">Add a review</span></label>
          <input id="comment" type="text" name="comment" value="">
          <input class="hidden" type="text" name="place_id" value={{studio.place_id}}>
        </div>
        <button class="btn-submit">Add</button>
      </form>
      {{/if}}

    </div>


    <div id="map" data-mainAddress="{{user.mainAddress}}" data-otherAddress="{{user.otherAddress}}"> </div>

  </div>


  "<div class="reviews-container">
    <h3>Reviews</h3>

    {{#unless review}}
    <p>Sorry, no reviews yet !</p>
    {{/unless}}
    {{#each review}}
    <p>{{this.user.name}} {{this.user.lastname}}</p>
    <p>{{this.comment}}</p>
    {{/each}}
  </div>"
</div>